

 <div class="container">
 <div class="row">

   <div class="col-md-3">
<%= render 'users/userinfo', user: @user %>
<%= render 'books/newbook', book: @booknew %>
</div>

<div class= "col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class='table' >
    <tr>
    <td>
      <%= link_to user_path(@book.user.id) do %>
        <%= attachment_image_tag @book.user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg" %>
         <nav>
           <%= @book.user.name %>
         </nav>
       <% end %>
    </td>
    <td><%= link_to @book.title %></td>
    <td><%= @book.body %></td>
    <% if @book.user == current_user %>
    <td><%= link_to "Edit", edit_book_path(@book), class:"btn-sm btn-success" %></td>
    <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "Are you sure？ ", class:"btn-sm btn-danger" %></td>
    <% end %>
    </tr>
    </table>
  </div>
</div>
</div>
</div>

